@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #414141;
    border-radius: 8px;
    background-clip: padding-box;
    border: 1px solid transparent;
  }
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #202020;
  color: #fff;
}

.container {
  max-width: 1130px;
  height: 100%;
  margin: 0 auto;
}

:root {
  --primary-color: rgb(77, 145, 223);
}

.icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  transition: background-color 0.1s ease;
  svg {
    fill: #a5a5a5;
    transition: fill 0.1s ease;
  }
  &:hover {
    background-color: #333333;
    svg {
      fill: #fff;
    }
  }
}
